{% extends "base.html.twig" %}

{% block body %}
    <div class = "container">
    
        <h1 class = "mt-4"> Modification de l'ingédient </h1>

            {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
        </div>
 
        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        <div class="form-error">
            {{ form_errors(form.price) }}
        </div>
        </div>

        <div class = 'form-groupe'>
            {{ form_row(form.submit, {
                'label': 'Modifier mon ingrédient',
                'label_attr' : {'class': 'modif'}
                }) }}
        </div>

{{ form_end(form) }}
    </div>
<script src="//js/modif.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}