{% extends "base.html.twig" %}

{% block body %}
    <div class = "container">
    
        <h1 class = "mt-4"> Création d'un  ingédient </h1>

            {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
        </div>

        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        <div class="form-error">
            {{ form_errors(form.price) }}
        </div>
        </div>

        <div class = 'form-groupe'>
            {{ form_row(form.submit, {
                'label': 'Créer mon ingrédient',
                'attr' : {'class': 'aj btn btn-primary mt-4'}
                }) }}

{{ form_end(form) }}
    </div>
<script src="/js/ajout.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}